<footer>
  <a href="https://github.com/werdna94" target="_blank"><img src="../../../assets/icons/github_rounded.png" alt="My Github Account"></a>
  <a href="https://www.linkedin.com/in/andrew-gwilliam/" target="_blank"><img src="../../../assets/icons/linkedin_rounded.png" alt="My LinkedIn Account"></a>
  <a href="https://soundcloud.com/andrew-gwilliam-925940263" target="_blank"><img src="../../../assets/icons/soundcloud_rounded.png" alt="My Soundcloud Account"></a>
  <a href="https://stackoverflow.com/users/9206702/andrew-gwilliam" target="_blank"><img src="../../../assets/icons/stackoverflow_rounded.png" alt="My Stack Overflow Account"></a>
  <a href="https://twitter.com/refreshingAJG" target="_blank"><img src="../../../assets/icons/twitter_rounded.png" alt="My Twitter Account"></a>
</footer>